@media screen and (max-width: 768px) {
    header{
        height: 5vh;
    }

    .nav{
        display: none;
    }

    .menu-button{
        display: none;
    }

    .phone{
        color: #ffffff;
        font-size: 12px; 
        padding-right: 0px;
    }

    .main-block{
        height: 95vh;
    }
    
    .insta{
        display: none;
    }

    .heading{
        width: 100%;
        background-position: center;
    }
}