@media screen and (max-width: 768px) {
    header{
        height: 7vh;
    }

    .nav{
        display: none;
    }

    .menu-button{
        display: none;
    }

    .phone{
        color: #ffffff;
        font-size: 12px; 
        padding-right: 0px;
    }

    .main-block{
        width: 100%;
        height: 58vh;
        min-height: 425px;
    }
    
    .insta{
        display: none;
    }

    .heading{
        width: 100%;
        height: 58vh;
        min-height: 425px;
        background-position: center;
    }

    .scroll{
        display: none;
    }

    h1{
        font-size: 23px;
        line-height: 132.83%;
        display: inline;
        max-width: 85%;
    }


    .heading-text{
        margin-top: 9vh;
    }

    .heading-text_paragraph{
        display: inline-block;
        font-family: FuturaBookC;
        font-size: 18px;
        line-height: 135.84%;
        color: #FFFFFF;
        margin-top: 1.97vh;
        margin-right: 19%;
    }


    .heading-bottons_calculate{
        width: 95.6%;
        margin-top: 5%;
    }

    .heading-bottons_transparent{
        width: 95.6%;
        margin-top: 5%;
    }

    .comleted-projects{
        display: block;
        padding-left: 2.5%;
        padding-right: 2.5%;
        text-align: center;
        padding-top: 36px;
        height: auto;
    }

    .comleted-projects_text{
        width: 100%;
        padding-top: 0px;
        padding-left: 0px;
    }

    .comleted-projects_text_p{
        font-family: FuturaBookC;
        font-size: 15px;
        line-height: 158.48%;
    }

    .comleted-projects_menu_list{
        display: none;
    }

    .comleted-projects_mobile{
        margin-top: 36px;
    }
    
    .comleted-projects_mobile-picture{
        width: 100%;
    }

    .comleted-projects_table{
        margin-top: 36.45px;
    }

    .online-control_video{
        height: auto;
    }

    /*.online-control_video_img{
        width: 100%;
        height: auto;
        display: inline-block;
        background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../img/PNG/work_mobile.png) no-repeat;
        background-size: 100%;
    }*/


    .online-control_video_img{
        width: 100%;
        height: auto;
    }

    .pc{
        display: none;
    }

    .mobile{
        display: inline-block;
    }
}