@media screen and (max-width: 768px) {
    header{
        height: 57px;
    }

    .nav{
        display: none;
    }

    .menu-button{
        display: none;
    }

    .phone{
        color: #ffffff;
        font-size: 12px; 
    }



}