@font-face {
	font-family: 'FuturaBookC';
	src: url('../fonts/FuturaBookCTT.eot');
	src: local('☺'), url('../fonts/FuturaBookCTT.woff') format('woff'), url('../fonts/FuturaBookCTT.ttf') format('truetype'), url('../fonts/FuturaBookCTT.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FuturaDemiC';
	src: url('../fonts/FuturaDemiC.eot');
	src: local('☺'), url('../fonts/FuturaDemiC.woff') format('woff'), url('../fonts/FuturaDemiC.ttf') format('truetype'), url('../fonts/FuturaDemiC.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}