
header{    
    height: 10vh;
    background-color: #131313;
}
.menu {
    padding-left: 5.7%;
    padding-right: 5.7%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;                
}

.menu-item {
    text-align:center;
    color: white;   
}

.logo{
    font-family: FuturaDemiC;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #E3B873;
}

nav{
    flex-grow: 0.5;
}

.navigation{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-item{
    display: inline-flex;
    font-size: 14px;
    color: #FFFFFF;
    font-family: FuturaBookC;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-item:hover {
    color: #E3B873;
    transition: 0.5s ease;
}

.phone{
    font-family: FuturaDemiC;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #E3B873;
    padding-right: 45px;
}

button{
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    font-family: FuturaDemiC;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: inherit;
}

.menu-button{
    padding: 13px 33px;
}

.main-block{
    height: 90vh;
    width: 100%;
}

.insta{
    height: 100%;
    width: 5.7%;
    background-color: #131313;
    float: left;

    height: 100%;
    vertical-align: middle;
    position: relative;
}

.heading{
    float: left;
    height: 100%;
    width: 94.3%;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../img/PNG/image4.3.png); 
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;  
}



.insta-block{
    display: inline-block;
    vertical-align: middle;
    position: absolute; 
    top: 50%;
    left: 50%;
    margin-top: -71px;
    margin-left: -8px;
}

.before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}    
.insta-text{
    writing-mode: vertical-rl;
    color: #E3B873;
    text-transform: uppercase;
    font-family: FuturaDemiC;   
}

.helper{
    height: 51px;
    width: 1.5px;
    background-color:  #E3B873;
    margin-left: 50%;
    margin-right: 50%;

}

.scroll{
    
    background-color: #131313;
    font-family: Yeseva One;
    font-size: 14px;
    color:  white;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 17%;
    height: 7vh;
    align-items: center;
}