@font-face {
	font-family: 'FuturaBookC';
	src: url('../fonts/FuturaBookCTT.eot');
	src: local('☺'), url('../fonts/FuturaBookCTT.woff') format('woff'), url('../fonts/FuturaBookCTT.ttf') format('truetype'), url('../fonts/FuturaBookCTT.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FuturaDemiC';
	src: url('../fonts/FuturaDemiC.eot');
	src: local('☺'), url('../fonts/FuturaDemiC.woff') format('woff'), url('../fonts/FuturaDemiC.ttf') format('truetype'), url('../fonts/FuturaDemiC.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* yeseva-one-regular - latin */
@font-face {
	font-family: 'Yeseva One';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/yeseva-one-v15-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/yeseva-one-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/yeseva-one-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/yeseva-one-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/yeseva-one-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/yeseva-one-v15-latin-regular.svg#YesevaOne') format('svg'); /* Legacy iOS */
  }