
header{    
    height: 10vh;
    background-color: #131313;
}
.menu {
    padding-left: 5.7%;
    padding-right: 5.7%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;                
}

.menu-item {
    text-align:center;
    color: white;   
}

.logo{
    font-family: FuturaDemiC;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #E3B873;
}

nav{
    flex-grow: 0.5;
}

.navigation{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-item{
    display: inline-flex;
    font-size: 14px;
    color: #FFFFFF;
    font-family: FuturaBookC;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-item:hover {
    color: #E3B873;
    transition: 0.5s ease;
}

.phone{
    font-family: FuturaDemiC;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #E3B873;
    padding-right: 45px;
}

button{
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    font-family: FuturaDemiC;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: inherit;
}

.menu-button{
    padding: 13px 33px;
}

.main-block{
    height: 90vh;
    width: 100%;
}

.insta{
    height: 100%;
    width: 5.7%;
    background-color: #131313;
    float: left;

    height: 100%;
    vertical-align: middle;
    position: relative;
}

.heading{
    float: left;
    height: 100%;
    width: 94.3%;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../img/PNG/image4.3.png); 
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;  
}



.insta-block{
    display: inline-block;
    vertical-align: middle;
    position: absolute; 
    top: 50%;
    left: 50%;
    margin-top: -71px;
    margin-left: -8px;
}

.before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}    
.insta-text{
    writing-mode: vertical-rl;
    color: #E3B873;
    text-transform: uppercase;
    font-family: FuturaDemiC;   
}

.helper{
    height: 51px;
    width: 1.5px;
    background-color:  #E3B873;
    margin-left: 50%;
    margin-right: 50%;

}

.scroll{
    
    background-color: #131313;
    font-family: Yeseva One;
    font-size: 14px;
    color:  white;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 17%;
    height: 6.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll_a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
}

.scroll-text{
    margin-right: 5%;
}

.yellow-text{
    color: #E3B873;
}

h1{
    text-transform: uppercase;
    font-family: Yeseva One;
    font-size: 40px;
    color: white;
}

h2{
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}

.heading-text{
    margin-top: 27.4vh;
    margin-left: 4.4%;
}

.heading-text_paragraph{
    color:white;
    font-family: FuturaBookC;
    font-size: 22px;
    line-height: 30px;
    margin-top: 1vh;
}

.heading-bottons{
    margin-top: 1vh;
}

.heading-bottons_transparent{
    height: 51px;
    width: 207px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0);
    font-family: FuturaDemiC;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
}

.heading-bottons_calculate{
    height: 51px;
    width: 207px;
    border: 1px solid #E3B873;
    box-sizing: border-box;
    border-radius: 2px;
    font-family: FuturaDemiC;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    margin-right: 1%;
}

.comleted-projects{
    height: 1074px;
    background-color:  #131313;
    box-sizing: border-box;
    display: flex;
}

.comleted-projects_text{
    width: 30vw;
    padding-top: 176.36px;
    padding-left: 7vw;
    padding-right: 3.47vw;
    float: left;
}

.comleted-projects_text_p{
    margin-top: 34px;
    font-family: FuturaBookC;
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
}

.comleted-projects_img{
    box-sizing: border-box;
    width: 70vw;
    float: left;
    overflow: hidden;
}

.comleted-projects_menu{
    padding-top: 107px;
    
}

.comleted-projects_menu_list{
    display: flex;
    width: 43vw;
    justify-content: space-between;
}

.comleted-projects_nav{
    display: inline-block;
}

.comleted-projects_line{
    width: 92px;
    height: 1px;
    color: white;
    border: none;
    background-color: #E3B873;
    float: left;
    left: 20%;
    margin-top: -19px;
    margin-left: 140px;
}

.comleted-projects_menu_link{
    font-family: Yeseva One;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
    display: inline-block;
}

.comleted-projects_menu_link:hover{
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #E3B873;
    text-decoration: underline;
}

.comleted-projects_img_pictures{
    margin-top: 49px;
    display: flex;
}

.comleted-projects_picture-big{
    height: 482px;
    padding-right: 1.3vw;
}

.comleted-projects_picture-small{
    height: 482px;
}

.comleted-projects_table{
    width: 100%;
    text-align: left;
    margin-top: 41px;
}

.big_table_text{
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

.small_table_text{
    display: block;
    padding-top: 9px;
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    padding-bottom: 35px;
}

.round-button{
    border-radius: 50%;
    padding: 0;
    box-shadow: none;
    box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
    float: right;
    margin-right: 3.25vw;
    display: block;
}

.round-button_div{
    display: inline-block;
    width: 54.72px;
    height: 54.72px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.round_button_img{
    height: 16.65px;
}












.mobile{
    display: none;
}